* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 8rem;
    background-color: #006995;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    background-color: #007db4;
}

.container-logo {
    justify-content: right;
    width: 5%;
    height: 8rem;
}

.img-web {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: black;
    margin: 1rem;
}

h1 {
    font-size: 25px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px #F8F8F8;
    text-shadow: 5px 5px 5px #20d7ff;
}

button {
    border: 2px solid white;
    background-color: #009ddf;
    color: #eefff3;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 15px;
    align-content: center;
}

.plane>img {
    width: 1rem;
    height: 1rem;
    align-items: center;

}

.car>img {
    width: 1rem;
    height: 1rem;
    align-items: center;
}

.book>img {
    width: 1rem;
    height: 1rem;
    align-items: center;
}

.btn-body {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007db4;
}
.btn-body div,
.btn-body input{
    margin: 0 10px;
}
select {
    border: 2px solid;
    border-radius: 10px;
    background-color: #009ddf;
    color: black;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.salida {
    color: white;
}

.salida>input {
    border: 2px solid;
    border-radius: 10px;
    background-color: #009ddf;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
}

.regreso {
    color: white;
}

.regreso>input {
    border: 2px solid;
    border-radius: 10px;
    background-color: #009ddf;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
}

hr {
    height: 2px;
}

.sect-img {
    display: flex;
    justify-content: space-around;
}

.axm>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.axm {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.axm>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.barran>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.barran {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.barran>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.bog>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.bog {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.bog>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.cart>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.cart {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.cart>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.sanan>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.sanan {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.sanan>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.sect-img1 {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.marta>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.marta {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.marta>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.cali>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.cali {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.cali>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.buca>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.buca {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.buca>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.guajira>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.guajira {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.guajira>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.manila>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.manila {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.manila>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.sect-img2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.sect-img2 div {
    margin: 0 28px;
}


.pasto>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.pasto {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.pasto>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.pere>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.pere {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.pere>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.popayan>h2 {
    background-color: white;
    color: #009ddf;
    border-radius: 10px;
}

.popayan {
    justify-content: left;
    width: 16%;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

.popayan>img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}


footer {
    width: 100%;
    height: 4rem;
    background-color: #006995;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
footer .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px 0;
}
footer .social-icon li{
    list-style: none;
}

footer .social-icon li a {
    color: #fff;
    margin: 0 10px;
}